[Таможенные Органы]/Schemas_out_5_23_0/ActOfReconciliation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Федеральный закон от 28 сентября 2010 № 244-ФЗ «Об инновационном центре «Сколково» возмещение затрат на уплату ввозной таможенной пошлины и налога на добавленную стоимость лицам, участвующим в реализации проекта создания и обеспечения функционирования территориально обособленного комплекса (инновационного центра «Сколково»
  статья 15 Федерального закона от 29 июля 2017 г. № 216-ФЗ «Об инновационных научно-технологических центрах и о внесении изменений в отдельные законодательные акты Российской Федерации»-->
<xs:schema xmlns:aor="urn:customs.ru:Information:CommercialFinanceDocuments:ActOfReconciliation:5.22.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:els_leaf="urn:customs.ru:Information:ELSDocuments:ELSLeafTypes:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:ActOfReconciliation:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ELSDocuments:ELSLeafTypes:5.21.0" schemaLocation="ELSLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Акт сверки/ Сводный акт сверки</xs:documentation>
  </xs:annotation>
  <xs:element name="ActOfReconciliation" type="aor:ActOfReconciliationType">
    <xs:annotation>
      <xs:documentation>Акт сверки/ Сводный акт сверки</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ActOfReconciliationType">
    <xs:annotation>
      <xs:documentation>Акт сверки/ Сводный акт сверки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ActDetails" type="aor:ActDetailsType">
            <xs:annotation>
              <xs:documentation>Реквизиты Акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RemainderAppNextMonth" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Остаток бюджетных ассигнований на 1-е число месяца, следующего за отчетным месяцем (на 1 -е января года, следующего за отчетным годом - для сводного Акта сверки)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="aor:DeclarantType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о декларантах и суммах израсходованных ввозной таможенной пошлины, налога на добавленную стоимость и общей сумме таможенных платежей </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalAmount" type="aor:TotalAmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Итоговые суммы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="aor:RecipientType">
            <xs:annotation>
              <xs:documentation>Реквизиты для перечисления управляющей компанией остатка неизрасходованных бюджетных ассигнованиях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApprovedPerson" type="cat_ru:PersonBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о должностных лицах, согласовавших и утвердивших Акт сверки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002053E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ActDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о зачете денежных средств</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActAattribute" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Атрибут акта: 1 - акт сверки, 2 - сводный акт сверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Term" type="aor:TermType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Период, за который формируется Акт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Month" type="aor:MonthType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчетный месяц</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Year" type="clt_ru:DateYearCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчетный год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAppropriations" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Размер предусмотренных бюджетных ассигнований в федеральном бюджете на отчетный год</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RemainderAppropriations" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Остаток бюджетных ассигнований на начало отчетного месяца (на 1-е января года, следующего за отчетным годом - для сводного Акта сверки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UsedAppropriations" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Размер израсходованных бюджетных ассигнований в отчетном месяце (в отчетном году - для сводного Акта сверки)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeclarantType">
    <xs:annotation>
      <xs:documentation>Сведения о декларанте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН - идентификационный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportCustomsDuty" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ввозная таможенная пошлина</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValueAddedTax" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Налог на добавленную стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecipientType">
    <xs:annotation>
      <xs:documentation>Сведения о Лице, на лицевой счет которого был произведен зачет денежных средств</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование юридического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonalAccountUFK" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Лицевой счет в УФК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BICID" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckingAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Расчетный счет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeneficiaryAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Номер счета получателя (номер казначейского счета)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BCC" type="els_leaf:BCCType">
        <xs:annotation>
          <xs:documentation>КБК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Код ОКТМО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:annotation>
      <xs:documentation>Период временного хранения товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BeginDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания периода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalAmountType">
    <xs:annotation>
      <xs:documentation>Сведения о документах, подтверждающих факт излишне уплаченных/взысканных платежей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ImportCustomsDuty" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ввозная таможенная пошлина</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValueAddedTax" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Налог на добавленную стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BankNameType">
    <xs:annotation>
      <xs:documentation>Наименование банка. До 100 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MonthType">
    <xs:annotation>
      <xs:documentation>Номер месяца. Целое значение от 1 до 12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IntegerCategoriesCust">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="12" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>