[Таможенные Органы]/Schemas_out_5_23_0/AdministrativeOffenseDataRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:aodr="urn:customs.ru:Information:CustomsAuditDocuments:AdministrativeOffenseDataRequest:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:AdministrativeOffenseDataRequest:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Определение об истребовании сведений, необходимых для разрешения дела об административном правонарушении</xs:documentation>
	</xs:annotation>
	<xs:element name="AdministrativeOffenseDataRequest" type="aodr:AdministrativeOffenseDataRequestType">
		<xs:annotation>
			<xs:documentation>Определение об истребовании сведений, необходимых для разрешения дела об административном правонарушении</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AdministrativeOffenseDataRequestType">
		<xs:annotation>
			<xs:documentation>Определение об истребовании сведений, необходимых для разрешения дела об административном правонарушении</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocumentDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата составления документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DoumentPlace" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Место составления документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="aodr:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа, вынесшее определение по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceCaseInfo" type="aodr:OffenceCaseInfoType">
						<xs:annotation>
							<xs:documentation>Сведения по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Offender" type="aodr:OffenderType">
						<xs:annotation>
							<xs:documentation>Субъект АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequiredInformation" type="aodr:RequiredInformationType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Истребуемые сведения (документы)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OwnerInformation" type="aodr:OwnerInformationType">
						<xs:annotation>
							<xs:documentation>Владелец сведений (документов)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006937E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AKArticlesPartType">
		<xs:annotation>
			<xs:documentation>Cведения о части статьи Кодекса РФ об административных правонарушениях </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NpaArticlePart" type="clt_ru:Text10Type">
				<xs:annotation>
					<xs:documentation>Номер части статьи КоАП РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsMain" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак основной части (0/false - нет, 1/true - да) </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsPersonType">
		<xs:annotation>
			<xs:documentation>Должностное лицо таможенного органа, вынесшее определение по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="PersonCodePost" type="clt_ru:Text50Type">
						<xs:annotation>
							<xs:documentation>Идентификатор должности по классификатору ФТС России</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsSubUnit" type="clt_ru:Text150Type">
						<xs:annotation>
							<xs:documentation>Наименование подразделения таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
						<xs:annotation>
							<xs:documentation>Код таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsFullName" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsAddress" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IdentityCardType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeDocCode" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumDoc" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerDoc" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateDoc" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeDep" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedDoc" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код страны, выдавшей документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FioDoc" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия, Имя, Отчество </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Актуальность сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KoAPArticleType">
		<xs:annotation>
			<xs:documentation>Состав АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NpaArticle" type="clt_ru:Text10Type">
				<xs:annotation>
					<xs:documentation>Номер статьи КоАП РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsMain" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак основной статьи (0/false - нет, 1/true - да) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NpaArticleParts" type="aodr:AKArticlesPartType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номера частей статьи КоАП РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenceCaseInfoType">
		<xs:annotation>
			<xs:documentation>Сведения по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CaseID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор дела об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseRegNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер дела об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseRegDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации дела об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseCustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, ведущего производство по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseCustomsFullName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Полное наименование таможенного органа, ведущего производство по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KoAPArticle" type="aodr:KoAPArticleType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Состав АП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderType">
		<xs:annotation>
			<xs:documentation>Субъект АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Тип субъекта АП: «1» - юридическое лицо; «2» - физическое лицо; «3» - индивидуальный предприниматель; «4» - должностное лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationName" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Субъект АП. Наименование ЮЛ. (для Type=1,3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Person" type="aodr:PersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Субъект АП. Сведения о ФЛ.  (для Type=2,3,4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН (НЗА, ОГРНИП) субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RN" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер субъекта АП в стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NN" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Налоговый номер субъекта АП в стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegPlace" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место регистрации субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны принадлежности субъекта АП по Общероссийскому классификатору стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnerInformationType">
		<xs:annotation>
			<xs:documentation>Владелец сведений (документов)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="aodr:OffenderType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес проживания (места нахождения) субъекта АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddressFakt" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес фактического проживания (места фактического нахождения) субъекта АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Document" type="aodr:IdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>Физическое лицо - субъект АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Surname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата рождения субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Место рождения субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Пол субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequiredInformationType">
		<xs:annotation>
			<xs:documentation>Истребуемые сведения (документы)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumRD" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер сведений (документа)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionRD" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание сведений (документа)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
