[Таможенные Органы]/Schemas_out_5_23_0/AirChangeList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:air_chl="urn:customs.ru:Information:TransportDocuments:AirChangeList:5.23.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:AirChangeList:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Лист изменений между предварительным и фактическим пакетом документов по перевозке воздушным транспортом</xs:documentation>
  </xs:annotation>
  <xs:element name="AirChangeList" type="air_chl:AirChangeListType">
    <xs:annotation>
      <xs:documentation>Лист изменений между предварительным и фактическим пакетом документов по перевозке воздушным транспортом</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AirChangeListType">
    <xs:annotation>
      <xs:documentation>Лист изменений между предварительным и фактическим пакетом документов по перевозке воздушным транспортом</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
            <xs:annotation>
              <xs:documentation>Направление перемещения: ИМ, ЭК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AircraftChange" type="air_chl:AircraftChangeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Изменения произошедшие в воздушном судне</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignmentChange" type="air_chl:ConsignmentChangeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Изменения, произошедшие в товарных партиях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsChange" type="air_chl:GoodsChangeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Изменения, произошедшие в товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003316E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AircraftChangeType">
    <xs:annotation>
      <xs:documentation>Информация об изменении в воздушном судне</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FlightInfo" type="air_chl:FlightInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о рейсе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Info" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassangerChanges" type="clt_ru:IndicatorType" default="false">
        <xs:annotation>
          <xs:documentation>Произошло изменение в списке пассажиров: true - Да; false - Нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteChanges" type="clt_ru:IndicatorType" default="false">
        <xs:annotation>
          <xs:documentation>Произошло изменение в маршруте: true - Да; false - Нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CrewChanges" type="clt_ru:IndicatorType" default="false">
        <xs:annotation>
          <xs:documentation>Произошло изменение в списке экипажа: true - Да; false - Нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoreChanges" type="clt_ru:IndicatorType" default="false">
        <xs:annotation>
          <xs:documentation>Произошло изменение в списке бортовых припасов: true - Да; false - Нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProhibitedChanges" type="clt_ru:IndicatorType" default="false">
        <xs:annotation>
          <xs:documentation>Произошло изменение в списке запрещенных/ограниченных ко ввозу товарах: true - Да; false - Нет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocChanges" type="clt_ru:IndicatorType" default="false">
        <xs:annotation>
          <xs:documentation>Произошло изменение в списке разрешительных документов: true - Да; false - Нет</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AirportInfoType">
    <xs:annotation>
      <xs:documentation>Сведение об аэропорте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AirportName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название аэропорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IATACode" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код ИАТА</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentChangeType">
    <xs:annotation>
      <xs:documentation>Информация об изменениях в партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConsignmentId" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип изменения товарной партии (0 - Объект был добавлен; 1 - Объект был исправлен; 2 - Объект был удален.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Info" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocType" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип документа предстоящей операции: ПТД - предварительная транзитная декларация, ПДТ, ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNum" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер документа предстоящей операции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsChangeType">
    <xs:annotation>
      <xs:documentation>Информация об изменениях в товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsId" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип изменения товара (0 - Объект был добавлен; 1 - Объект был исправлен; 2 - Объект был удален.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Info" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AWBNumber" type="catTrans_ru:AWBNumberType">
        <xs:annotation>
          <xs:documentation>Номер авианакладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара по авианакладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о рейсе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FlightNumber" type="cltTrans_ru:FlightNumberType">
        <xs:annotation>
          <xs:documentation>Номер рейса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirPlaneRegNum" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рейса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightTime" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время вылета рейса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepatureAirport" type="air_chl:AirportInfoType">
        <xs:annotation>
          <xs:documentation>Аэропорт вылета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrivalAirport" type="air_chl:AirportInfoType">
        <xs:annotation>
          <xs:documentation>Аэропорт прилета</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>