[Таможенные Органы]/Schemas_out_5_23_0/AirPreliminary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Решение Коллегии Евразийской экономической комиссии от 02.04.2019 г. № 49
"О внесении изменений в структуру и формат предварительной информации о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза воздушным транспортом" -->
<!--Решение Коллегии ЕЭК от 20.10.2020 № 130 "О внесении изменений в некоторые решения Коллегии Евразийской экономической комиссии"-->
<!--Решение Коллегии Евразийской экономической комиссии от 15.08.2023 г. № 117"О внесении изменений в структуру и формат предварительной информации о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза воздушным транспортом-->
<xs:schema xmlns:ap="urn:customs.ru:Information:CustomsDocuments:AirPreliminary:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.23.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" targetNamespace="urn:customs.ru:Information:CustomsDocuments:AirPreliminary:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.23.0" schemaLocation="PriorCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предварительная информация о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза воздушным транспортом </xs:documentation>
  </xs:annotation>
  <xs:element name="AirPreliminary" type="ap:AirPreliminaryType">
    <xs:annotation>
      <xs:documentation>Предварительная информация о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза воздушным транспортом </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AirPreliminaryType">
    <xs:annotation>
      <xs:documentation>Предварительная информация о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза воздушным транспортом </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак электронного документа "ЭД"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumber" type="catpi_ru:PIRegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер предварительной информации, содержащей обязательный состав сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefRegNumber" type="catpi_ru:PIRegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер предварительной информации, в отношении которой осуществляется повторное представление предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UsageCode" type="clt_ru:Code2Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Код цели представления предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Планируемые (расчетные) дата и время прибытия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntryCheckPointDetails" type="ap:EntryCheckPointDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место прибытия товаров на таможенную территорию Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantDetails" type="catpi_ru:PI_EEC_DeclarantDetailsType">
            <xs:annotation>
              <xs:documentation>Лицо, представившее предварительную информацию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderTransportDetails" type="ap:BorderTransportDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве, прибывающем на таможенную территорию Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignmentDetails" type="ap:ConsignmentDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierDetails" type="catpi_ru:PI_EEC_CarrierDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о перевозчике, осуществляющем ввоз товаров на таможенную территорию Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EpidemicControlDetails" type="ap:EpidemicControlDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения, представляемые в целях санитарно-эпидемиологического надзора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DiseasedPersonDetails" type="ap:DiseasedPersonDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Лицо, у которого выявлено заболевание или обнаружено подозрение на заболевание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlledItemsDetails" type="catpi_ru:ControlledItemsDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о припасах, запасных частях и оборудовании, подлежащие указанию при предоставлении предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006825E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="BorderTransportDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве, прибывающем на таможенную территорию Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак контейнерных перевозок (1 - товары перевозятся в контейнере; 0 - товары перевозятся не в контейнере)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirRegNumber" type="cltTrans_ru:AirplaneRegNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер воздушного судна (номер борта или название)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirNationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны принадлежности транспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightDetails" type="ap:FlightDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о рейсе воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фактические дата и время вылета в аэропорт прибытия на таможенной территории Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteDetails" type="ap:RouteDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о маршруте полета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeansEntryPurpose" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение цели ввоза транспортного средства международной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportKindCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код марки транспортного средства </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование марки транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование модели транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperatorDetails" type="ap:OperatorDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об эксплуатанте воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CrewQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество членов экипажа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество пассажиров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Captain" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о командире</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CrewMemberDetails" type="cat_ru:PersonBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о членах экипажа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerDetails" type="cat_ru:PersonBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о пассажирах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UsageCode" type="clt_ru:Code2Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код цели представления предварительной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportDocumentDetails" type="RUScat_ru:DocBaseV4Type">
        <xs:annotation>
          <xs:documentation>Сведения о транспортном (перевозочном) документе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDocIdDetails" type="catpi_ru:CustomDocIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер таможенной декларации, в соответствии с которой осуществлено предварительное таможенное декларирование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа таможенной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclarationFeatureCode" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение особенности таможенного декларирования товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitDirectionCode" type="clt_ru:TransitDirectionCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение особенности перевозки (транспортировки) товаров при применении таможенной процедуры таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitFeature" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Особенность помещения товаров под процедуру таможенного транзита (МПО - международные почтовые отправления, ФЛ - товары и (или) транспортные средства для личного пользования)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocUsageCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение использования транспортных (перевозочных), коммерческих и (или) иных документов в качестве транзитной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PageQuantity" type="clt_ru:Count4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество листов в документе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPackageNumber" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAmount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая стоимость товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общий вес брутто товаров в товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InternationalMailCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наличие МПО: МПО - при наличии на борту международных почтовых отправлений; ЭКГ - при наличии на борту экспресс-грузов </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsignorDetails" type="catpi_ru:PI_EEC_SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeDetails" type="catpi_ru:PI_EEC_SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LoadingLocationDetails" type="catpi_ru:PI_EEC_CargoLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об аэропорте погрузки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnLoadingLocationDetails" type="catpi_ru:PI_EEC_CargoLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об аэропорте выгрузки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCustomsOfficeCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном органе назначения, указываемые при принятии решения в отношении подкарантинной продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerDetails" type="catpi_ru:PI_EEC_ContainerDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о контейнере</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsIdentificationDetails" type="catpi_ru:PI_EEC_CustomsIdentificationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о средствах идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PITransitTransportMeansDetails" type="catpi_ru:PI_EEC_TransitTransportMeansDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о транспортных средствах, используемых при перевозке товаров в соответствии с таможенной процедурой таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitTerminationDetails" type="catpi_ru:TransitTerminationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о предполагаемом таможенном органе и пункте назначения при осуществлении перевозки товаров в соответствии с таможенной процедурой таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PITranshipmentDetails" type="catpi_ru:PI_EEC_TranshipmentDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о планируемых грузовых операциях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnloadWarehouseDetails" type="catpi_ru:PI_EEC_UnloadWarehouseDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о планируемом месте временного хранения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsItem" type="catpi_ru:PI_EEC_GoodsItemType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitGuaranteeDetails" type="catpi_ru:PITDGuaranteeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об обеспечении исполнения обязанности по уплате таможенных и иных платежей при таможенной процедуре таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitDeclarantDetails" type="catpi_ru:PI_EEC_TransitDeclarantDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Декларант таможенной процедуры таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnionCarrierDetails" type="catpi_ru:PI_EEC_CarrierDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перевозчик товаров по таможенной территории Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryRepresentativeDetails" type="catpi_ru:SignatoryRepresentativeDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном представителе, заполнившем (подписавшем) таможенный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryPersonDetails" type="RUDECLcat:SignatoryPersonDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о работнике таможенного представителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiseasedPersonDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, у которого выявлено заболевание или обнаружено подозрение на заболевание</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Person" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoleCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение роли лица (1 - член экипажа; 2 - пассажир)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseaseDescription" type="RUSclt_ru:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Описание характера болезани</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisinfestationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о дезинсекции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DisinfestationCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение виде дезинсекции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisinfestationMethod" type="RUSclt_ru:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Описание метода дезинсекции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisinfestationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата проведения дезинсекции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChemicalName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование субстанции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryCheckPointDetailsType">
    <xs:annotation>
      <xs:documentation>Место прибытия на таможенную территорию Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsOfficeCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirportCode" type="cltTrans_ru:AirportIATACodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение аэропорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderCheckpointCode" type="clt_ru:CodeVariable18Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код пункта пропуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderCheckpointName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование пункта пропуска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EpidemicControlDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения, представляемые в целях санитарно-эпидемиологического надзора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DiseasedPerson" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие больного лица или лица с подозрением на заболевание на борту (0 - нет; 1 - есть)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseasedPersonQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число заболевших и лиц с подозрением на заболевание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PestControlDetails" type="ap:PestControlDetailsType">
        <xs:annotation>
          <xs:documentation>Проведение дезинсекции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о рейсе воздушного судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AirlineId" type="cltTrans_ru:AirlineIATACodeType">
        <xs:annotation>
          <xs:documentation>Идентификатор авиакомпании, присвоенный Международной ассоциацией воздушного транспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightId" type="clt_ru:CodeVariable4Type">
        <xs:annotation>
          <xs:documentation>Номер рейса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FilgftDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, за которую выполняется рейс</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatorDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об эксплуатанте воздушного судна</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="AirlineId" type="cltTrans_ru:AirlineIATACodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор авиакомпании, присвоенный Международной ассоциацией воздушного транспорта</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PestControlDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о проведении дезинсекции на борту транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DisinfestationIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Проведена дезинсекция (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisinfestationDetails" type="ap:DisinfestationDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о дезинсекции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RouteDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о маршруте полета</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LocationCode" type="cltTrans_ru:AirportIATACodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение пункта маршрута</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер пункта маршрута</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>