[Таможенные Органы]/Schemas_out_5_23_0/AppEvaluationAccountSystemGoodsSTZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Проект приказа ФТС России от       №        «Об установлении Порядка проведения оценки системы учета товаров на соответствие положениям требований к системе учета товаров в целях идентификации иностранных товаров, помещенных под таможенную процедуру свободной таможенной зоны, в товарах, изготовленных (полученных) с использованием таких иностранных товаров, составления заключения по итогам проведения оценки системы учета товаров и издания распоряжения о согласовании такой системы учета».-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:aeasg_stz="urn:customs.ru:Information:CustomsDocuments:AppEvaluationAccountSystemGoodsSTZ:5.23.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:AppEvaluationAccountSystemGoodsSTZ:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Заявление о проведении оценки системы учета товаров на соответствие Требованиям к системе учета товаров в целях идентификации иностранных товаров, помещенных под таможенную процедуру свободной таможенной зоны, в товарах, изготовленных (полученных) с использованием таких иностранных товаров, утвержденным постановлением Правительства Российской Федерации от 13 марта 2019 г. № 264 </xs:documentation>
	</xs:annotation>
	<xs:element name="AppEvaluationAccountSystemGoodsSTZ" type="aeasg_stz:AppEvaluationAccountSystemGoodsSTZType">
		<xs:annotation>
			<xs:documentation>Заявление о проведении оценки системы учета товаров на соответствие Требованиям к системе учета товаров в целях идентификации иностранных товаров, помещенных под таможенную процедуру свободной таможенной зоны, в товарах, изготовленных (полученных) с использованием таких иностранных товаров, утвержденным постановлением Правительства Российской Федерации от 13 марта 2019 г. № 264</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AppEvaluationAccountSystemGoodsSTZType">
		<xs:annotation>
			<xs:documentation>Заявление о проведении оценки системы учета товаров на соответствие Требованиям к системе учета товаров в целях идентификации иностранных товаров, помещенных под таможенную процедуру свободной таможенной зоны, в товарах, изготовленных (полученных) с использованием таких иностранных товаров, утвержденным постановлением Правительства Российской Федерации от 13 марта 2019 г. № 264</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" type="aeasg_stz:OrganizationDetailsType">
						<xs:annotation>
							<xs:documentation>Сведения об организации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeadOfOrganization" type="cat_ru:PersonBaseType">
						<xs:annotation>
							<xs:documentation>Руководитель организации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresentedDoc" type="aeasg_stz:PresentedDocType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Прилагаемые к Заявлению документы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DescriptionOfProduction" type="aeasg_stz:DescriptionOfProductionType">
						<xs:annotation>
							<xs:documentation>Описание производства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConformitySign" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак соответствия организации положениям п. 2 Постановления Правительства РФ от 13.03.2019 г. № 264 (1 - соответствует, 0 - не соответствует)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccountingSystem" type="aeasg_stz:AccountingSystemType">
						<xs:annotation>
							<xs:documentation>Система учета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantDetails" type="aeasg_stz:ApplicantDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем Заявление</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006358E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AccountingSystemType">
		<xs:annotation>
			<xs:documentation>Система учета</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountingSystemDescription" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Сведения о системе учета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingBegDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата начала использования системы учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о заявителе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Полное наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConfirmDocDetails" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Документ, подтверждающий полномочия лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Applicant" type="cat_ru:PersonSignatureType">
				<xs:annotation>
					<xs:documentation>ФИО лица, подающего заявление</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommunicationDetailsType">
		<xs:annotation>
			<xs:documentation>Контактные реквизиты организации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:ContactType">
				<xs:sequence>
					<xs:element name="WebSite" type="clt_ru:Text150Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Интернет-сайт</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DescriptionOfProductionType">
		<xs:annotation>
			<xs:documentation>Описание производства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SerialProduction" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Виды серийной продукции, производство которой осуществляется организацией</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureAddress" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Место нахождения производства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INNDocDetailsType">
		<xs:annotation>
			<xs:documentation>Свидетельство о постановке на учет в налоговом органе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentityCardSeries" type="clt_ru:SeriesCodeType">
				<xs:annotation>
					<xs:documentation>Серия Свидетельства о постановке на учет в налоговом органе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityCardNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер Свидетельства о постановке на учет в налоговом органе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityCardDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи Свидетельства о постановке на учет в налоговом органе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения об организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNDocDetails" type="aeasg_stz:INNDocDetailsType">
				<xs:annotation>
					<xs:documentation>Серия, номер и дата выдачи свидетельства о постановке на учет в налоговом органе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType">
				<xs:annotation>
					<xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EGRNDocDetails" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Номер и дата выдачи свидетельства о внесении записи в Единый государственный реестр юридических лиц</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKPOId" type="clt_ru:OKPOIDType">
				<xs:annotation>
					<xs:documentation>Код Общероссийского классификатора предприятий и организаций</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessEntityTypeCode" type="RUScat_ru:UnifiedCode20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение организационно-правовой формы, в которой зарегистрирован хозяйствующий субъект</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessEntityTypeName" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организационно-правовой формы, в которой зарегистрирован хозяйствующий субъект</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressDetails" type="RUScat_ru:RUAddressType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommunicationDetails" type="aeasg_stz:CommunicationDetailsType">
				<xs:annotation>
					<xs:documentation>Контактные реквизиты организации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocType">
		<xs:annotation>
			<xs:documentation>Сведения о представленных документах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Количество листов </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresentedDocId" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительные технологические идентификаторы представленного документа.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
