[Таможенные Органы]/Schemas_out_5_23_0/AppExpFreeWHGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС от 04.02 2019 г. № 169 " О формах документов, предусмотренных стетьей 158 Федерального закона от 2 августа 2018 г. № 289-ФЗ "О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные законодательные акты Российской Федерации", в целях вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободного склада"
Приложение № 1 - Заявление владельца свободного склада о вывозе товаров (DocKind=1)
Приложение № 3 - Мотивированное заявление владельца свободного склада о  продлении срока вывоза товаров (DocKind=2)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:aefwg="urn:customs.ru:Information:CustomsDocuments:AppExpFreeWHGoods:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:AppExpFreeWHGoods:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление владельца свободного склада о вывозе / продлении срока вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров,изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободного склада</xs:documentation>
  </xs:annotation>
  <xs:element name="AppExpFreeWHGoods" type="aefwg:AppExpFreeWHGoodsType">
    <xs:annotation>
      <xs:documentation>Заявление владельца свободного склада о вывозе / продлении срока вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободного склада</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AppExpFreeWHGoodsType">
    <xs:annotation>
      <xs:documentation>Заявление владельца свободного склада о вывозе / продлении срока вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров,изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободного склада</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="AppNumber" type="aefwg:FreeWHRegisterType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionNumber" type="aefwg:FreeWHRegisterType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Разрешения на вывоз, на основании которого товар вывезен</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид документа: 1 - Заявление о вывозе товаров; 2 - Заявление о продлении срока вывоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="aefwg:ApplicantType">
            <xs:annotation>
              <xs:documentation>Владелец свободного склада</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsRepresentative" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном представителе (лицо, подающее заявление о вывозе товаров со свободного склада)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="aefwg:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="Export" type="aefwg:ExportType">
              <xs:annotation>
                <xs:documentation>Сведения о вывозе товаров</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Extension" type="aefwg:ExtensionType">
              <xs:annotation>
                <xs:documentation>Сведения о продлении срока вывоза товаров</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="ConfirmDocs" type="aefwg:DocType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, подтверждающие заявленные сведения или необходимость продления срока обратного ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApproverPerson" type="aefwg:ApproverPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченное лицо заявителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006277E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>Сведения о заявителе (владельце свободного склада)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="Certificate" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Реквизиты свидетельства о включении в реестр владельцев свободных складов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ApproverPersonType">
    <xs:annotation>
      <xs:documentation>Уполномоченное лицо заявителя</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="Authority" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Реквизиты документа, подтверждающего полномочия лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocType">
    <xs:annotation>
      <xs:documentation>Документ, поименованный в заявлении</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="InOrderNumber" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер прилагаемого документа по порядку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SheetsNumber" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество листов документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="GoodsNum" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товара в ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExportType">
    <xs:annotation>
      <xs:documentation>Сведения о вывозе товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Purpose" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Цель вывоза товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExportDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Планируемая дата вывоза товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Планируемая дата обратного ввоза товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeInfo" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о лице, которому передаются товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransferDocs" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документы, на основании которых товары передаются для совершения операций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Place" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место совершения действий с товарами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionType">
    <xs:annotation>
      <xs:documentation>Сведения о продлении срока вывоза товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExtensionReturnDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Заявляемый для продления срок обратного ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExtensionReason" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Обоснование продления срока обратного ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeWHRegisterType">
    <xs:annotation>
      <xs:documentation>Реквизиты регистрационного номера документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Аббревиатура вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodKind" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Вид товара: 0 - товар, помещенный под таможенную процедуру свободного склада; 1 - товар, изготовленный (полученный) из товаров, помещенных под таможенную процедуру свободного склада</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionGoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара в Разрешении на вывоз, на основании которого товар вывезен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDID" type="aefwg:DTInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты таможенной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты документа бухгалтерского учета, согласно которому товары, изготовленные (полученные) на свободном складе учтены владельцем свободного склада (приняты к учету)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommissioningDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты документа, подтверждающего ввод оборудования в эксплуатацию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsIdentification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентификационные признаки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>