[Таможенные Органы]/Schemas_out_5_23_0/AppTransferTempImport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Приказ ФТС России от 18.03.2019 г. № 442  "Об утверждении формы заявления о передаче товаров, помещенных под таможенную процедуру временного ввоза (допуска), 
формы обязательства лица, которому передаются товары, о соблюдении условий использования товаров в соответствии с таможенной процедурой 
временного ввоза (допуска), требований и условий временного ввоза и формы решения таможенного органа по результатам рассмотрения указанного заявления"
DocKind = 0:
Приложение № 1 - Заявление о передаче товаров, помещенных под таможенную процедуру временного ввоза (допуска)
DocKind = 1:
Приложение № 3 - Обязательство лица, которому передаются товары, о соблюдении условий использования товаров в соответствии с 
                            таможенной процедурой временного ввоза (допуска), требований и условий временного ввоза
-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:atti="urn:customs.ru:Information:TransportDocuments:AppTransferTempImport:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:AppTransferTempImport:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление о передаче товаров, помещенных под таможенную процедуру временного ввоза (допуска)/обязательство лица, которому передаются товары, о соблюдении условий использования товаров в соответствии с таможенной процедурой временного ввоза (допуска), требований и условий временного ввоза</xs:documentation>
  </xs:annotation>
  <xs:element name="AppTransferTempImport" type="atti:AppTransferTempImportType">
    <xs:annotation>
      <xs:documentation>Заявление о передаче товаров, помещенных под таможенную процедуру временного ввоза (допуска)/обязательство лица, которому передаются товары, о соблюдении условий использования товаров в соответствии с таможенной процедурой временного ввоза (допуска), требований и условий временного ввоза</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AppTransferTempImportType">
    <xs:annotation>
      <xs:documentation>Заявление о передаче товаров, помещенных под таможенную процедуру временного ввоза (допуска)/обязательство лица, которому передаются товары, о соблюдении условий использования товаров в соответствии с таможенной процедурой временного ввоза (допуска), требований и условий временного ввоза</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - Заявление о передаче товаров, помещенных под таможенную процедуру временного ввоза (допуска); 1 - Обязательство лица, которому передаются товары, о соблюдении условий использования товаров в соответствии с таможенной процедурой временного ввоза (допуска), требований и условий временного ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления / обязательства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа в который подается заявление / обязательство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, передающем товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WhomTransfer" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, принимающем товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="atti:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTransfer" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предполагаемая дата передачи временно ввезенных товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обоснование необходимости передачи товаров, помещенных под таможенную процедуру временного ввоза (допуска), во владение и пользование иными лицами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnsuringSign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак предоставления лицом, принимающим товары, обеспечения исполнения обязанности по уплате таможенных пошлин, налогов: 1 - с предоставлением; 0 - без предоставления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnsuringDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий принятие таможенным органом обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="atti:AttachedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApproverPersonApplicant" type="atti:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись руководителя организации либо физического лица, передающего товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApproverPersonWhomTransfer" type="atti:PersonType">
            <xs:annotation>
              <xs:documentation>Подпись руководителя организации либо физического лица, принимающего товары</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003012E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachedDocumentType">
    <xs:annotation>
      <xs:documentation>Документ, прилагаемый к заявлению</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:DocBaseV4Type">
        <xs:sequence>
          <xs:element name="Link" type="atti:ElectronicDocType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы, присвоенные документу при размещении в ЭАД</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectronicDocType">
    <xs:annotation>
      <xs:documentation>Идентификаторы, присвоенные документу при размещении в ЭАД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ArchiveID" type="clt_ru:ArchiveIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор хранилища электронных документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocID" type="clt_ru:ArchiveDocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор электронного документа в хранилище</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Информация о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GoodsBaseType">
        <xs:sequence>
          <xs:element name="GoodsNumberInGTD" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товара в таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IndividualCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Индивидуальные признаки товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, подписавшем Заявление/Обязательство</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="PersonKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип лица: 1 -  должностное лицо таможенного представителя, 2 - должностное лицо организации, 3 -  физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationNumberId" type="RUSclt_ru:Id25Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер в реестре таможенных представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>