[Таможенные Органы]/Schemas_out_5_23_0/BillofLading.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:bol="urn:customs.ru:Information:TransportDocuments:Sea:BillofLading:5.23.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Sea:BillofLading:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Коносамент</xs:documentation>
  </xs:annotation>
  <xs:element name="BillofLading" type="bol:BillofLadingType">
    <xs:annotation>
      <xs:documentation>Коносамент</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BillofLadingType">
    <xs:annotation>
      <xs:documentation>Коносамент</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="LanguageCode" type="clt_ru:LanguageCodeType">
            <xs:annotation>
              <xs:documentation>Код языка коносамента</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CopyNumber" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Число составленных экземпляров коносамента, заполняется если их больше чем один.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Clause" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Особая оговорка в соответствующих случаях о том, что груз должен или может перевозиться на палубе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BOLDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип коносамента (именной коносамент) или указание, что коносамент выдан "приказу отправителя", либо наименование получателя с указанием, что коносамент выдан "приказу получателя" (ордерный коносамент), или указание, что коносамент выдан на предъявителя (коносамент на предъявителя); если в ордерном коносаменте не указано, что он составлен "приказу получателя", то он считается составленным "приказу отправителя"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BillofLadingId" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор товарной партии / коносамента</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PI_RegID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный идентификатор предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDocument" type="bol:RegistrationDocumentType">
            <xs:annotation>
              <xs:documentation>Информация о регистрации коносамента</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Vessel" type="catTrans_ru:VesselType">
            <xs:annotation>
              <xs:documentation>Реквизиты судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Loading" type="bol:PortLoadType">
            <xs:annotation>
              <xs:documentation>Информация о погрузке груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Unloading" type="bol:PortLoadType">
            <xs:annotation>
              <xs:documentation>Информация о разгрузке груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Информация о перевозчике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="cat_ru:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Информация об отправителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Freight" type="bol:FreightType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о платежах, причитающихся перевозчику </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Destination" type="bol:DestinationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место назначения груза либо, при наличие чартера, место назначения или направления судна </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="bol:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание груза.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentSignature" type="bol:PersonNamePostTypeType">
            <xs:annotation>
              <xs:documentation>Подпись документа капитаном, морским агентом или каким-либо другим лицом, надлежащим образом уполномоченным на то капитаном</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceOfDelivery" type="bol:ReceiptOrDeliveryPlaceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место отгрузки. Пункт, из которого поставщик производит отгрузку товара покупателя. Если договором не предусмотрено иное, то юридический адрес поставщика считается местом отгрузки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceOfReceipt" type="bol:ReceiptOrDeliveryPlaceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место получения груза перевозчиком</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="bol:MarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommissionShipment" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Поручения на погрузку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код ТО места доставки / закрытия транзита</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationOfficeIdentifier" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа назначения, в регионе деятельности которого расположено место доставки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003202E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DestinationType">
    <xs:annotation>
      <xs:documentation>Место назначения груза либо, при наличие чартера, место назначения или направления судна </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места назначения  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес места назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreightType">
    <xs:annotation>
      <xs:documentation>Информация о платежах, причитающихся перевозчику </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FrDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Указание, что фрахт должен быть уплачен согласно условиям, изложенным в чартере или в другом документе, либо указание, что фрахт полностью уплачен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreightAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма фрахта или других причитающихся перевозчику платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Описание товара.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:TransportGoodsType">
        <xs:sequence>
          <xs:element name="PlacesQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество мест товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightWithCont" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вес товара брутто c контейнером (кг)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackingDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание грузовых  мест, Данные о внешнем виде, состоянии упаковки и особых свойствах груза.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Container" type="bol:ContainerType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о контейнерах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PolletQuantity" type="clt_ru:Quantity8Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество поллет (поддонов)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UNnumber" type="clt_ru:Code4Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Идентификатор опасности вещества по классифкации ООН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ZTKNum" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер ЗТК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ZTKName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование ЗТК</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MarkType">
    <xs:annotation>
      <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarkSing" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultControl" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результат прохождения контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonNamePostTypeType">
    <xs:annotation>
      <xs:documentation>Фамилия.Имя.Отчество должностного лица и его пост.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия. Имя. Отчество.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата подписания.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PortLoadType">
    <xs:annotation>
      <xs:documentation>Сведения о погрузке/разгрузке груза в порту</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:PortType">
        <xs:sequence>
          <xs:element name="TransferTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время в часах, которое отводится на погрузку -разгрузку, передачу груза.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReceiptOrDeliveryPlaceType">
    <xs:annotation>
      <xs:documentation>Место получения/доставки груза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="City" type="clt_ru:CityNameType">
        <xs:annotation>
          <xs:documentation>Город</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationDocumentType">
    <xs:annotation>
      <xs:documentation>Информация о регистрации коносамента.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Place" type="clt_ru:PlaceNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место выдачи документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContainerType">
    <xs:annotation>
      <xs:documentation>Сведения о контейнере</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerNum" type="clt_ru:ContainerIdentityType">
        <xs:annotation>
          <xs:documentation>Номер контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Seal" type="cltTrans_ru:SealIDType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номера пломб</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalSealNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество пломб, наложенных на контейнер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZTKNum" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер ЗТК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZTKName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование ЗТК</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>