[Таможенные Органы]/Schemas_out_5_23_0/ConformanceSertif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" xmlns:cos="urn:customs.ru:Information:SertifDocuments:ConformanceSertif:5.22.0" targetNamespace="urn:customs.ru:Information:SertifDocuments:ConformanceSertif:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" schemaLocation="SertifCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сертификат соответствия</xs:documentation>
	</xs:annotation>
	<xs:element name="ConformanceSertif" type="cos:ConformanceSertifType">
		<xs:annotation>
			<xs:documentation>Сертификат соответствия - документ, подтверждающий соответствие продукции определенным требованиям качества и безопасности.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ConformanceSertifType">
		<xs:annotation>
			<xs:documentation>Сертификат соответствия - документ, подтверждающий соответствие продукции определенным требованиям качества и безопасности.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор документа по БД РД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BeginDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата начала действия сертификата (совпадает с датой регистрации документа)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания действия сертификата (необязателен при сертификации партии)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddSertifInf" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительные сведения о сертификации (документы, о стабильности производства, маркировка, место нанесения знака соответствия)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись руководителя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateSign" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сертификат соответствия: 0 - Евразийского экономического союза; 1 - Росстандарта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateKind" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип реестра, содержащего сертификат: 0 - Реестр сертификатов соответствия продукции требованиям технических регламентов Таможенного Союза; 1 - Реестр сертификатов соответствия продукции требованиям технических регламентов Российской Федереации; 2 - Реестр сертификатов соответствия продукции единого перечня Таможенного Союза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SertifOrganization" type="cos:SertifOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об органе сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ManufacturerInf" type="cos:ManufacturerOrgType">
						<xs:annotation>
							<xs:documentation>Информация об изготовителе/индивидуальном предпринимателе.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SertifRecipient" type="cos:SertifRecipientType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о лице, которому выдан сертификат / Заявитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GroundDocs" type="cos:GroundDocsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание  документов на основании которых выдан сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="cos:GoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExpertSignature" type="cat_ru:PersonSignatureType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Подпись эксперта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertifNormDoc" type="cos:CertifNormDocType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Обозначение нормативных документов, на соответствие которым произведена сертификация (ГОСТЫ, пункты ГОСТов)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProlongCertificate" type="cos:ProlongCertificateType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о продлении сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FederalDocs" type="cos:CertifNormDocType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание документов федеральных  органов, устанавливающих  требования для военной продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppendInfo" type="cos:AppendInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о приложениях</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="cos:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата регистрации в едином реестре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormNumber" type="cos:FormNumberType">
						<xs:annotation>
							<xs:documentation>Номер бланка сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" type="clt_ru:Count2Type">
						<xs:annotation>
							<xs:documentation>Сведения о статусе декларации (1 - ACTIVE - Действует; 2 - SUSPENDED - Действие приостановлено; 3 - PARTIALSUSPENSION - Действие временно приостановлено; 4 - REVIVED - Действие возобновлено; 5 - DISCONTINUED - Действие прекращено; 6 - EXTENDED - Продлено; 7 - CANCELED - Аннулировано; 8 - ARCHIVED - Архивно; 9 - NOTPUBLISHED - Не опубликован; 10 - EXCLUDEDREG - Исключен из реестра)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SuspendedInfo" type="cos:SuspendedInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о приостановлении действия сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RevivedInfo" type="cos:RevivedInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о возобновлении действия сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiscontinuedInfo" type="cos:DiscontinuedInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о прекращении действия сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Раздел: 1- Без соответствия, 2 – сертификат соответствия (СС) продукции требованиям тех. рег. Евразийского экономического союза, 3 - Сертификат соответствия продукции, включенной в Единый перечень продукции в рамках Евразийского экономического союза, 4 - Сертификат РФ, 5 - СС продукции, включенной в Единый перечень продукции РФ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009001E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AppendInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о приложениях</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cos:AppendsType">
				<xs:sequence>
					<xs:element name="Append" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о приложениях</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Прочие сведения о декларации о соответствии</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AppendsType">
		<xs:annotation>
			<xs:documentation>Приложения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AppendNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер приложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppendsFormNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер бланка приложения (заполняется в случае наличия приложения)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertifNormDocType">
		<xs:annotation>
			<xs:documentation>Нормативные документы, на соответствие которым производится сертификация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование национального стандарта или свода правил</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identifier" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Обозначение национального стандарта или свода правил</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentInfo" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата и номер нормативного документа, которым утвержден национальный стандарт или свод правил</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Appends" type="cos:AppendsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о приложении к СС для таблицы стандартов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificateOrgType">
		<xs:annotation>
			<xs:documentation>Орган, аккредитовавший орган сертификации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Телефон</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Fax" type="clt_ru:PhoneNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Телефон</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocManufacturedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о документах, на основании которых изготовлена продукция</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NormDocs" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Обозначение документов, на основании которых произведена продукция</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechReg" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технический регламент</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechRegOtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Дополнительные сведения о технических регламентах</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscontinuedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о прекращении действия документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DateDiscontinued" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата прекращения действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberDiscontinued" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер уведомления (предписания) о прекращении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateNumberDiscontinued" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата уведомления (предписания) о прекращении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonCode" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Код причины прекращения действия сертификата (1 - OnApplication (по заявлению), 2 - ByOrder (по предписанию)), 3 - None (не указано) , 4 - ByControl (по предписанию органа государственного контроля (надзора)))</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание причины прекращения действия сертификата (по решению заявителя/по предписанию)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnnulmentType" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип аннулирования действия сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormNumberType">
		<xs:annotation>
			<xs:documentation>Номер бланка сертификата</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:CodeVariable7Type">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код государства члена Евразийского экономического союза</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о продукции</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cos:AppendsType">
				<xs:sequence>
					<xs:element name="ProductCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код продукции по ОК005 - Общероссийскому классификатору продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание товара текстовое (наименование, тип, вид, марка продукции, обозначение стандарта, технических условий или иного документа, по которому она выпускается (для импортной продукции ссылка на документ необязательна. Для партии и единичного изделия приводят номер и размер партии или номер изделия, номер и дату выдачи накладной, договора (контракта), документа о качестве и т.п.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeriesSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак: 1 - "единичное изделие", 2 - "партия", 3 - "серийный выпуск"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocManufacturedInfo" type="cos:DocManufacturedInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о документах, на основании которых изготовлена продукция</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PartySize" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Размер партии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SerialNumber" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Заводской номер изделия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShippingDocuments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Товаросопроводительные документы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TechnicalRegulations" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Технический регламент ТС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductTypeInfo" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Ekps" type="clt_ru:Code4Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ЕКПС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер и дата договора или контракта о поставке продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Иная информация, идентифицирующая продукцию</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsOKPD2" type="clt_ru:CodeVariable14Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код продукции по ОКПД2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsOKPD2Text" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Расшифровка кода продукции по ОКПД2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroundDocsType">
		<xs:annotation>
			<xs:documentation>Описание  документов на основании которых выдан сертификат</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentsFullName" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень представленных документов одной строкой</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shema" type="clt_ru:Text10Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Схема сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BasisProduce" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Основание выдачи сертификата (сведения о протоколах испытаний)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кем выдан документ (наименование органа производившего испытания)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер органа, производившего испытания</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BeginDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата начала действия документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания действия документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationAddress" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Documents" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Прочие документы, послужившие основанием выдачи сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ManufacturerOrgType">
		<xs:annotation>
			<xs:documentation>Сведения об организации -  производителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catSert_ru:SertifOrgBaseType">
				<xs:sequence>
					<xs:element name="SubdivisionInfo" type="cos:SubdivisionInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о подразделениях предприятия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ManufacturerOrgModeCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип лица ("Ul" - Юридическое лицо,  , "Fp" - Индивидуальный предприниматель, "Al" - Иностранное ЮЛ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OPF" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Организационно-правовая форма</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Appends" type="cos:AppendsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о приложении</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProlongCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о продлении сертификата</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер решения о продлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateNumber" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата решения о продлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание продления действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала периода продления действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания периода продления действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProlongSign" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о подписи при продлении срока действия сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SertifNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код государства члена Евразийского экономического союза</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevivedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о возобновлении действия документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата возобновления действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер решения о возобновлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание возобновления действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateOrder" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата решения о возобновлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SertifOrganizationType">
		<xs:annotation>
			<xs:documentation>Сведения об органе сертификации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catSert_ru:SertifOrgBaseType">
				<xs:sequence>
					<xs:element name="OrganizationNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер органа сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FieldOfAction" type="clt_ru:ShortNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сфера деятельности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрационного номера аттестата аккредитации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateOrg" type="cos:CertificateOrgType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Орган, аккредитовавший орган сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeadOfTheOrganization" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ФИО руководителя органа по сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SertifRecipientType">
		<xs:annotation>
			<xs:documentation>Информация о лице, которому выдан сертификат / Заявитель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catSert_ru:SertifOrgBaseType">
				<xs:sequence>
					<xs:element name="SertifRecipientModeCode" type="clt_ru:CodeVariable2Type">
						<xs:annotation>
							<xs:documentation>Тип лица ("Ul" или "Ю" - Юридическое лицо, "Fl" или "Ф" - Физическое лицо, "Al" - Иностранное ЮЛ, "Fp" - Индивидуальный предприниматель, "Aa" - Уполномоченное иностр. изг. лицо)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SertifRecipientCategory" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид заявителя (1 - Изготовитель; 2 - Поставщик; 3 - Продавец, 4 - Уполномоченное изготовителем лицо, 5 - Исполнитель)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OPF" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Организационно-правовая форма</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationHead" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ФИО руководителя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organ" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование органа, зарегистрировавшего организацию в качестве юридического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistryDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Egr" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о государственной регистрации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SNILS" type="clt_ru:CodeVariable11Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>СНИЛС</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubdivisionInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о подразделениях предприятия</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Юридический адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Appends" type="cos:AppendsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о приложении</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SuspendedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о приостановлении действия документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер решения о приостановлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateNumber" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата решения о приостановлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание приостановлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateBegin" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала периода приостановлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateEnd" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания периода приостановлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
